<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>todoMVC</title>
    <style>
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id="todo-app">
    <div>
        <h1>代办事项登记</h1>
        <input
            type="button"
            value="√"
            @click="all_mark_completed"/>
        <input
            type="text"
            placeholder="添加代办事项"
            autofocus
            autocomplete="off"
            v-model="new_todo_title"
            @keyup.enter="add_todo"/>
    </div>
    <ul>
        <li v-for="todo in filter_todos">
            <span
                :class="{completed: todo.completed}"
                @dblclick="edit_todo(todo)">
                {{ todo.title }}
            </span>
            <input
                type="button"
                value="标为完成"
                @click="completed_status(todo)"/>
            <input
                type="button"
                value="删除"
                @click="remove_todo(todo)"/>
            <input
                type="text"
                placeholder="编辑事项"
                v-focus="true"
                v-if="unedited_todo && unedited_todo.id === todo.id"
                v-model="todo.title"
                @keyup.enter="edit_done(todo)"
                @keyup.esc="cancel_edit(todo)"/>
        </li>
    </ul>
    <div>
        <span v-if="todo_list.length > 0">
            {{ left_todos_count }} 项未完成</span>
        <span v-if="todo_list.length > 0">
            <input
                type="button"
                class="selected"
                value="全部"
                @click="filter_status=2"/>
            <input
                type="button"
                value="进行中"
                @click="filter_status=0"/>
            <input
                type="button"
                value="已完成"
                @click="filter_status=1"/>
            <input
                type="button"
                value="清除已完成"
                @click="clear_completed"/>
        </span>
    </div>
</div>
<script
    src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js">
</script>
<script>
    let id = 0;
    var app = new Vue({
        el: "#todo-app",

        data: {
            todo_list: [],
            new_todo_title: "",
            unedited_todo: null,
            filter_status: "2",
            },

        methods: {
            add_todo: function() {
                var value = this.new_todo_title && 
                    this.new_todo_title.trim();
                if (!value) {
                    // alert("！")
                    return ;
                }
                this.todo_list.push(
                {
                    id: id++,
                    title: this.new_todo_title,
                    completed: false
                });
                this.new_todo_title = "";
            },

            completed_status: function(todo) {
                todo.completed = true
            },

            remove_todo: function(todo) {
                // id不同，重名todo不同
                this.todo_list.splice(
                    this.todo_list.indexOf(todo), 1)
                if (this.todo_list.length == 0) {
                    id = 0;
                }
            },

            // 单纯的todo赋值会造成引用错误
            // 重新开辟内存
            edit_todo: function(todo) {
                this.unedited_todo = {
                    id: todo.id,
                    title: todo.title,
                    completed: todo.completed
                }
            },

            edit_done: function(todo) {
                if (!todo.title.trim()) {
                    return this.remove_todo(todo);
                }
                this.unedited_todo = null
            },

            cancel_edit: function(todo) {
                todo.title = this.unedited_todo.title;
                this.unedited_todo = null
            },

            all_mark_completed: function() {
                this.todo_list.map(
                    // (参数,..) => {return}
                    todo => {
                        if (!todo.completed) {
                            todo.completed = true
                        }
                    })
            },

            clear_completed: function() {
                this.todo_list = this.todo_list.filter(
                    todo => !todo.completed)
            },
        },

        computed: {
            left_todos: function() {
                return this.todo_list.filter(
                    todo => !todo.completed)
            },

            left_todos_count: function() {
                return this.left_todos.length
            },

            filter_todos:function() {
                if (this.filter_status === 0) {
                    return this.left_todos
                } else if (this.filter_status === 1) {
                    return this.todo_list.filter(
                        todo => todo.completed)
                } else {
                    return this.todo_list
                }
            }
        },

        directives: {
            focus: {
                inserted: function(el) {
                    el.focus()
                }
            }
        }
    })
</script>
</body>
</html>