<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TodoMVC</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://unpkg.com/todomvc-app-css@2.2.0/index.css"/>
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div id="todo-app" class="todoapp">
    <header class="header">
        <h1>TodoMVC</h1>
        <!-- 双向绑定v-model，通过checkbox的状态改变v-model的值 -->
        <!-- autocomplete自动完成允许浏览器预测对字段的输入。当用户在字段开始键入时，浏览器基于之前键入过的值，应该显示出在字段中填写的选项。 -->
        <input
            type="text"
            class="new-todo"
            placeholder="添加代办事项"
            v-focus="true"
            autocomplete="off"
            v-model="new_todo_title"
            @keyup.enter="add_todo"/>
    </header>
    <section class="main" v-cloak>
        <input
            id="toggle-all"
            type="checkbox"
            class="toggle-all"
            v-model="all_completed_status"/>
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <!-- :key：v节点唯一标识符，如果使用了key，Vue会根据keys的顺序记录element -->
            <!-- 不使用key，Vue会用一种算法：最小化element的移动，并且会尝试最大程度对同适当的相同类型的element做patch或者reuse -->
            <!-- :class：类样式的动态切换 -->
            <li
                class="todo"
                v-for="todo in filter_todos"
                :key="todo.id"
                :class="{completed: todo.completed, editing: unedited_todo && todo.id==unedited_todo.id}"><!-- 根据键值确定键对应的类是否显示样式-->
                <div class="view">
                    <input
                        class="toggle"
                        type="checkbox"
                        v-model="todo.completed"/>
                    <!-- vue变量 -->
                    <label
                        @dblclick="edit_todo(todo)">
                        {% verbatim %}{{ todo.title }}{% endverbatim %}
                    </label>
                    <button
                        class="destroy"
                        @click="remove_todo(todo)">
                    </button>
                </div>
                <!-- v-if条件成立才显现，未完成等于list长度只有list为空的情况 -->
                <!-- @blur：失去焦点事件 -->
                <input
                    class="edit"
                    type="text"
                    v-focus="true"
                    v-if="unedited_todo!==null && unedited_todo.id===todo.id"
                    v-model="todo.title"
                    @blur="edit_done(todo)"
                    @keyup.enter="edit_done(todo)"
                    @keyup.esc="cancel_edit(todo)"/>
            </li>
        </ul>
    </section>
    <footer
        class="footer"
        v-if="todo_list.length"
        v-cloak>
        <span class="todo-count">
            {% verbatim %}{{ left_todos_count }}{% endverbatim %} 项未完成
        </span>
        <ul
            v-if="todo_list.length"
            class="filters">
            <button
                type="button"
                class="selected"
                @click="filter_status=2">
                全部
            </button>
            <button
                type="button"
                @click="filter_status=0">
                进行中
            </button>
            <button
                type="button"
                @click="filter_status=1">
                已完成
            </button>
        </ul>
        <button
            v-if="todo_list.length > left_todos.length"
            type="button"
            @click="clear_completed"
            class="clear-completed">
            清除已完成
        </button>
    </footer>
</div>
<script
    src="../staticfiles/vue-build.js">
</script>
<script
    src="https://unpkg.com/axios/dist/axios.min.js">
</script>
<script>
    // 每个 Vue 应用都需要通过实例化Vue来实现
    var todoStorage = {
        post_list: function(todos) {
            axios
            .post(
                'https://todomvc-heroku.herokuapp.com/api/RecvTodos/',
                // json化，(value, [函数或null, 缩进])
                JSON.stringify(todos))
            .then(response => {
                console.log(response);
            })
        },
    };

    var app = new Vue({
        // #表示id，作用域，可供css选择器
        el: "#todo-app",

        data: {
            todo_list: [],
            new_todo_title: "",
            unedited_todo: null,
            filter_status: "2",
        },

        // watch监视指定变量
        watch: {
            todo_list: {
                // watch中要执行的方法
                handler: function(todo_list) {
                    todoStorage.post_list(todo_list)
                },
                // 监听的深度
                deep: true
            }
        },

        // vue实例挂载后就调用
        mounted() {
            // get值作为参数输入then
            axios
            .get('https://todomvc-heroku.herokuapp.com/api/index/')
            .then(response => {
                // this为vue内部的全局变量
                this.todo_list = response.data
                this.todo_list.forEach(
                    (todo, index) => {todo.id=index})
                // 组件的id
                todoStorage.uid = this.todo_list.length
            })
        },

        methods: {
            add_todo: function() {
                // 去首末空格
                var value = this.new_todo_title.trim();

                if (!value) {
                    return ;
                }
                
                // 给list末尾添加一个元素，返回新长度
                this.todo_list.push(
                {
                    id: todoStorage.uid++,
                    title: this.new_todo_title,

                    completed: false
                });

                this.new_todo_title = "";
            },

            // splice：用z替换列表中起始位置x，长度y的元素 (x, y, z)
            // indexOf：返回元素当前索引
            remove_todo: function(todo) {
                this.todo_list.splice(
                    this.todo_list.indexOf(todo), 1)
            },

            // 事先保存原有信息
            edit_todo: function(todo) {
                this.unedited_todo = {
                    id: todo.id,
                    title: todo.title,
                    completed: todo.completed
                }
            },

            edit_done: function(todo) {
                if (!todo.title.trim()) {
                    return this.remove_todo(todo);
                }
                this.unedited_todo = null;
            },

            cancel_edit: function(todo) {
                todo.title = this.unedited_todo.title;
                this.unedited_todo = null;
            },

            clear_completed: function() {
                this.todo_list = this.todo_list.filter(
                    todo => !todo.completed)
            },
        },

        // 与method不同的是，computed依赖于缓存，适合频繁计算的操作
        computed: {
            // 未完成todo
            left_todos: function() {
                return this.todo_list.filter(
                    todo => !todo.completed)
            },

            left_todos_count: function() {
                return this.left_todos.length
            },

            filter_todos:function() {
                if (this.filter_status === 0) {
                    return this.left_todos
                } else if (this.filter_status === 1) {
                    return this.todo_list.filter(
                        todo => todo.completed)
                } else {
                    return this.todo_list
                }
            },

            all_completed_status: {
                // getter好比默认函数的return，返回实例的值
                // 而setter是在实例调用变化时把新值传入setter并执行
                get: function() {
                    // 随时监听，left_todos.length的改变都会经过get
                    // v-model与checkbox双向绑定，任何一方改变都互相影响
                    // 因此满足条件all_completed_status对应的checkbox就会高亮
                    // 但是不在改变checkbox的值而通过满足条件而改变的all_completed_status不响应实例调用事件，因此set不会调用。
                    return this.left_todos.length === 0;
                },
                // 
                set: function(value) {
                    this.todo_list.forEach(
                        todo => todo.completed = value);
                }
            }
        },

        // 自定义局部指令，vue.directive全局指令
        directives: {
            focus: {
                // inserted钩子函数，自定义指令插入到标签中的时候就执行，v-focus
                inserted: function(el) {
                    el.focus()
                }
            }
        }
    })
</script>
</body>
</html>