<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TodoMVC</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://unpkg.com/todomvc-app-css@2.2.0/index.css"
        />
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div id="todo-app" class="todoapp">
    <header class="header">
        <h1>TodoMVC</h1>
        <input
            type="text"
            class="new-todo"
            placeholder="添加代办事项"
            v-focus="true"
            autocomplete="off"
            v-model="new_todo_title"
            @keyup.enter="add_todo"/>
    </header>
    <section class="main" v-cloak>
        <input
            id="toggle-all"
            type="checkbox"
            class="toggle-all"
            v-model="all_completed_status"/>
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li
                class="todo"
                v-for="todo in filter_todos"
                :key="todo.id"
                :class="{completed: todo.completed, editing: unedited_todo && todo.id==unedited_todo.id}">
                <!-- todo的完成状态来决定completed样式
                    todo==unedited_todo不生效，采用id，
                    completed出了问题-->
                <div class="view">
                    <input
                        class="toggle"
                        type="checkbox"
                        v-model="todo.completed"/>
                    <label
                        @dblclick="edit_todo(todo)">
                        {% verbatim %}{{ todo.title }}{% endverbatim %}
                    </label>
                    <button
                        class="destroy"
                        @click="remove_todo(todo)">
                    </button>
                </div>
                <input
                    class="edit"
                    type="text"
                    v-focus="true"
                    v-if="unedited_todo!==null && unedited_todo.id===todo.id"
                    v-model="todo.title"
                    @blur="edit_done(todo)"
                    @keyup.enter="edit_done(todo)"
                    @keyup.esc="cancel_edit(todo)"/>
            </li>
        </ul>
    </section>
    <footer
        class="footer"
        v-if="todo_list.length"
        v-cloak>
        <!-- js变量与django模板标签冲突，禁用django模板标签 -->
        <span class="todo-count">
            {% verbatim %}{{ left_todos_count }}{% endverbatim %} 项未完成
        </span>
        <ul
            v-if="todo_list.length"
            class="filters">
            <button
                type="button"
                class="selected"
                @click="filter_status=2">
                全部
            </button>
            <button
                type="button"
                @click="filter_status=0">
                进行中
            </button>
            <button
                type="button"
                @click="filter_status=1">
                已完成
            </button>
        </ul>
        <button
            v-if="todo_list.length > left_todos.length"
            type="button"
            @click="clear_completed"
            class="clear-completed">
            清除已完成
        </button>
    </footer>
</div>
<script
    src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js">
</script>
<script
    src="https://unpkg.com/axios/dist/axios.min.js">
</script>
<script>
    /*
    var STORAGE_KEY = "hello,world";
    var todoStorage = {
        // 取操作，反序列化
        fetch: function() {
            // localStorage本地存储对象，HTML5支持
            var todo_list = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
            todo_list.forEach(function(todo, index) {
                todo.id = index
            });
            //uid添加新的todo在此基础+1
            todoStorage.uid = todo_list.length;
            return todo_list
        },
        // 存取list序列化为json
        save: function(todo_list) {
            localStorage.setItem(STORAGE_KEY, JSON.stringify(todo_list))
        }
    };
    */

    var todoStorage = {
        post_list: function(todos) {
            axios
            .post(
                'http://192.168.43.51/api/RecvTodos/',
                JSON.stringify(todos))
            .then(response => {
                console.log(response);
            })
        },
    };


    /*
    let id = 0;
    var todo_list = {{ todo_list | safe }};
    */
    var app = new Vue({
        el: "#todo-app",

        data: {
            // todo_list: todoStorage.fetch(),
            todo_list: [],//todoStorage.get_list(),
            new_todo_title: "",
            unedited_todo: null,
            filter_status: "2",
            },

        watch: {
            todo_list: {
                handler: function(todo_list) {
                    // todoStorage.save(todo_list)
                    todoStorage.post_list(todo_list)
                },
                deep: true
            }
        },
        // 位置问题
        mounted() {
            axios
            .get('http://192.168.43.51/api/index/')
            .then(response => {
                this.todo_list = response.data
                this.todo_list.forEach(
                    (todo, index) => {todo.id=index})
                todoStorage.uid = this.todo_list.length
            })
        },

        methods: {
            add_todo: function() {
                var value = this.new_todo_title.trim();

                if (!value) {
                    // alert("！")
                    return ;
                }

                this.todo_list.push(
                {
                    id: todoStorage.uid++,
                    title: this.new_todo_title,
                    // checkbox会改变此状态，只需v-model绑定
                    completed: false
                });

                this.new_todo_title = "";
            },

            remove_todo: function(todo) {
                // id不同，重名todo不同
                this.todo_list.splice(
                    this.todo_list.indexOf(todo), 1)
                if (this.todo_list.length == 0) {
                    todo_list_length = 0;
                }
            },

            // 单纯的todo赋值会造成引用错误
            // 重新开辟内存
            edit_todo: function(todo) {
                this.unedited_todo = {
                    id: todo.id,
                    title: todo.title,
                    completed: todo.completed
                }
            },

            edit_done: function(todo) {
                if (!todo.title.trim()) {
                    return this.remove_todo(todo);
                }
                this.unedited_todo = null;
            },

            cancel_edit: function(todo) {
                todo.title = this.unedited_todo.title;
                this.unedited_todo = null;
            },

            clear_completed: function() {
                this.todo_list = this.todo_list.filter(
                    // (参数,..) => {return}
                    todo => !todo.completed)
            },
        },

        computed: {
            left_todos: function() {
                return this.todo_list.filter(
                    todo => !todo.completed)
            },

            left_todos_count: function() {
                return this.left_todos.length
            },

            filter_todos:function() {
                if (this.filter_status === 0) {
                    return this.left_todos
                } else if (this.filter_status === 1) {
                    return this.todo_list.filter(
                        todo => todo.completed)
                } else {
                    return this.todo_list
                }
            },

            // get获得all_completed_status的参数
            // set设置参数
            all_completed_status: {
                get: function() {
                    return this.left_todos.length === 0;
                },
                set: function(value) {
                    this.todo_list.forEach(
                        todo => todo.completed = value);
                }
            },
        },

        directives: {
            focus: {
                inserted: function(el) {
                    el.focus()
                }
            }
        }
    })
</script>
</body>
</html>